<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <button class="btn btn-sm btn-info" [routerLink]="['add']">Add Expense</button>
    </div>
  </div>
  <div class="row mt-3 ml-0">
    <div class="card" *ngIf="totalExpenses > 0">
      <div class="card-header">
        <h6>Budget overview</h6>
      </div>
      <div class="card-body row">
        <ngx-charts-pie-chart [results]="budgetChart" [view]="[300,200]"></ngx-charts-pie-chart>
        <div class="mt-4">
          <h6>Total budget</h6>
          <p>{{budget | currency:'INR'}}</p> <br>
          <h6>Total expenses</h6>
          <p>{{totalExpenses | currency:'INR'}}</p>
        </div>
      </div>
    </div>
    <div class="card ml-5" *ngIf="chartData.length > 0">
      <div class="card-header">
        <h6>Category wise split</h6>
      </div>
      <div class="card-body">
        <ngx-charts-pie-chart [results]="chartData" [view]="[300,200]"></ngx-charts-pie-chart>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 ">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h5>Expense List</h5>
            </div>
            <div class="card-body">
              <h6 class="text-danger text-center" *ngIf="expensesList.length === 0">No expenses found</h6>
              <table class="table" *ngIf="expensesList.length > 0">
                <tr>
                  <th></th>
                  <th class="text-center">
                    Category
                  </th>
                  <th class="text-center">
                    Item Name
                  </th>
                  <th class="text-center">
                    Amount
                  </th>
                  <th class="text-center">
                    Expense Date
                  </th>
                  <th class="text-center">Action</th>
                </tr>
                <tr class="text-center"
                    *ngFor="let expense of expensesList | paginate:{itemsPerPage:pageLimit,currentPage:pageNumber,totalItems:expensesList.length}"
                    [ngStyle]="{'color': expense.softDelete ? 'orange' : 'green'}">
                  <td class="showCursor" [routerLink]="'/expense/update'" [queryParams]="{id:expense._id}">
                    <span class="fa fa-edit"></span>
                  </td>
                  <td>
                    {{expense.category}}
                  </td>
                  <td>
                    {{expense.name}}
                  </td>
                  <td>
                    {{expense.value | currency:'INR'}}
                  </td>
                  <td>
                    {{expense.expiryDate | date:'dd/MM/yyyy'}}
                  </td>
                  <td>
                    <span class="fa fa-reply showCursor" (click)="changeExpenseVisibleStatus(expense)"
                          *ngIf="expense.softDelete"></span>
                    <span class="fa fa-trash showCursor" (click)="changeExpenseVisibleStatus(expense)"
                          *ngIf="!expense.softDelete"></span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <pagination-controls *ngIf="expensesList.length > 0" class="mt-2"
                             (pageChange)="pageNumber = $event"></pagination-controls>
      </div>

    </div>
  </div>
</div>
