<div class="side-list">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="list-each showCursor" [routerLink]="['']">
        Home
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="list-each showCursor" [routerLink]="['settings']">
        Settings
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="list-each showCursor" [routerLink]="['profile']">
        Profile
      </div>
    </div>
  </div>
</div>
